* {
  box-sizing: border-box;
  background-color: #181818;
  color: white;
  /* text-align: center; */
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: red;
}

.hide{
  /* visibility: hidden; */
  color: blue !important;
  font-size: 6rem ;
}

.show{
  visibility: none;
}


.loader-text{
  margin: auto;
  background-color: rgb(38, 41, 230);
  border-radius: 30px;
  width:60%;
  color: black;
  position: relative;
  text-align: center;
}


.testwe{
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
}

.divText{
  margin: 40px;
}

.divLoader{
  margin: 70px;
  border-radius: 30;
  /* background-color: black; */
}

h3{
  color: rgb(38, 41, 230);
  text-align:  center;
}

.loader{
  margin:auto;
}



div .test-div {
  background-color: red  !important;
  max-width: 70%;
}