* {
  box-sizing: border-box;
  background-color: #181818;
  color: red;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: red;
}

.hide{
  /* visibility: hidden; */
  color: blue !important;
  font-size: 6rem ;
}

.show{
  visibility: none;
}


.loader-text{
  color: green;
  z-index: 2;
  position: relative;
  text-align: center;
}

.loader-image{
  z-index: -1;
  width: 300%;
  text-align: center;
  overflow: hidden;
}

#divid{
  /* width: 20%; */
  border: 10px solid red;
}


.test{
  border: 2px solid red;
}